In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('adult.csv')

In [5]:
data.shape

(32561, 15)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
data['race']

0        White
1        White
2        White
3        Black
4        Black
         ...
32556    White
32557    White
32558    White
32559    White
32560    White
Name: race, Length: 32561, dtype: object

### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [20]:


data['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [24]:
import pandas as pd


race = pd.Series([27816, 3124, 1039, 311, 271],name='Race')

print(race)

0    27816
1     3124
2     1039
3      311
4      271
Name: Race, dtype: int64

In [26]:
race.index=['White','Black','Asian-Pac-Islander','Amer-Indian-Eskimo','Other']

In [27]:
race

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: Race, dtype: int64

In [28]:
race.head()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: Race, dtype: int64

### What is the average age of men?

In [29]:
average=data['age'].mean()

In [33]:
print("Average age of men is "+ str(average))

Average age of men is 38.58164675532078

### What is the percentage of people who have a Bachelor's degree?

In [34]:
data.head(32000)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31995,30,Self-emp-inc,178383,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,70,United-States,<=50K
31996,40,Self-emp-not-inc,170866,Assoc-acdm,12,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,>50K
31997,60,?,268954,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,0,12,United-States,>50K
31998,52,?,89951,12th,8,Married-civ-spouse,?,Wife,Black,Female,0,0,40,United-States,>50K
31999,22,Private,203894,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K

In [35]:
data['education'].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [36]:
bachelor_avg=5355*100/32000

In [39]:
print("Percentage of people who have a Bachelor's degree is "+ str(bachelor_avg))

Percentage of people who have a Bachelor's degree is 16.734375

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [42]:
data['salary'].value_counts()

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [71]:
fil_df=data[data['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [72]:
high=fil_df[fil_df['salary']=='>50K']

In [73]:
print(high)

       age         workclass  fnlwgt  education  education-num  \
8       31           Private   45781    Masters             14
9       42           Private  159449  Bachelors             13
11      30         State-gov  141297  Bachelors             13
19      43  Self-emp-not-inc  292175    Masters             14
20      40           Private  193524  Doctorate             16
...    ...               ...     ...        ...            ...
32533   54           Private  337992  Bachelors             13
32536   34           Private  160216  Bachelors             13
32538   38           Private  139180  Bachelors             13
32539   71                 ?  287372  Doctorate             16
32554   53           Private  321865    Masters             14

           marital-status       occupation   relationship                race  \
8           Never-married   Prof-specialty  Not-in-family               White
9      Married-civ-spouse  Exec-managerial        Husband               White
11     Married-civ-spouse   Prof-specialty        Husband  Asian-Pac-Islander
19               Divorced  Exec-managerial      Unmarried               White
20     Married-civ-spouse   Prof-specialty        Husband               White
...                   ...              ...            ...                 ...
32533  Married-civ-spouse  Exec-managerial        Husband  Asian-Pac-Islander
32536       Never-married  Exec-managerial  Not-in-family               White
32538            Divorced   Prof-specialty      Unmarried               Black
32539  Married-civ-spouse                ?        Husband               White
32554  Married-civ-spouse  Exec-managerial        Husband               White

          sex  capital-gain  capital-loss  hours-per-week native-country  \
8      Female         14084             0              50  United-States
9        Male          5178             0              40  United-States
11       Male             0             0              40          India
19     Female             0             0              45  United-States
20       Male             0             0              60  United-States
...       ...           ...           ...             ...            ...
32533    Male             0             0              50          Japan
32536  Female             0             0              55  United-States
32538  Female         15020             0              45  United-States
32539    Male             0             0              10  United-States
32554    Male             0             0              40  United-States

      salary
8       >50K
9       >50K
11      >50K
19      >50K
20      >50K
...      ...
32533   >50K
32536   >50K
32538   >50K
32539   >50K
32554   >50K

[3486 rows x 15 columns]

##  total entries of bachelors , masters and doctorate 3486

### Percentage is

In [75]:
percentage=3486*100/32000
print("Percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K is "+ str(percentage))

Percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K is 10.89375

### What percentage of people without advanced education make more than 50K?

In [76]:
fil_df=data[~data['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
high=fil_df[fil_df['salary']=='>50K']

In [77]:
print(high)

       age         workclass  fnlwgt     education  education-num  \
7       52  Self-emp-not-inc  209642       HS-grad              9
10      37           Private  280464  Some-college             10
14      40           Private  121772     Assoc-voc             11
27      54                 ?  180211  Some-college             10
38      31           Private   84154  Some-college             10
...    ...               ...     ...           ...            ...
32518   57         Local-gov  110417       HS-grad              9
32519   46           Private  364548  Some-college             10
32545   39         Local-gov  111499    Assoc-acdm             12
32557   40           Private  154374       HS-grad              9
32560   52      Self-emp-inc  287927       HS-grad              9

           marital-status         occupation relationship                race  \
7      Married-civ-spouse    Exec-managerial      Husband               White
10     Married-civ-spouse    Exec-managerial      Husband               Black
14     Married-civ-spouse       Craft-repair      Husband  Asian-Pac-Islander
27     Married-civ-spouse                  ?      Husband  Asian-Pac-Islander
38     Married-civ-spouse              Sales      Husband               White
...                   ...                ...          ...                 ...
32518  Married-civ-spouse       Craft-repair      Husband               White
32519  Married-civ-spouse    Exec-managerial      Husband               White
32545  Married-civ-spouse       Adm-clerical         Wife               White
32557  Married-civ-spouse  Machine-op-inspct      Husband               White
32560  Married-civ-spouse    Exec-managerial         Wife               White

          sex  capital-gain  capital-loss  hours-per-week native-country  \
7        Male             0             0              45  United-States
10       Male             0             0              80  United-States
14       Male             0             0              40              ?
27       Male             0             0              60          South
38       Male             0             0              38              ?
...       ...           ...           ...             ...            ...
32518    Male         99999             0              40  United-States
32519    Male             0             0              48  United-States
32545  Female             0             0              20  United-States
32557    Male             0             0              40  United-States
32560  Female         15024             0              40  United-States

      salary
7       >50K
10      >50K
14      >50K
27      >50K
38      >50K
...      ...
32518   >50K
32519   >50K
32545   >50K
32557   >50K
32560   >50K

[4355 rows x 15 columns]

In [79]:
per_unadv=4355*100/32000
print("percentage of people without advanced education make more than 50K "+str(per_unadv))

percentage of people without advanced education make more than 50K 13.609375

### What is the minimum number of hours a person works per week?

In [80]:
data.head(32000)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31995,30,Self-emp-inc,178383,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,70,United-States,<=50K
31996,40,Self-emp-not-inc,170866,Assoc-acdm,12,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,>50K
31997,60,?,268954,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,0,12,United-States,>50K
31998,52,?,89951,12th,8,Married-civ-spouse,?,Wife,Black,Female,0,0,40,United-States,>50K
31999,22,Private,203894,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K

In [84]:
min_hrs=data['hours-per-week'].min()
min_hrs

1

In [95]:
minimum=data.loc[data['hours-per-week']==1]
minimum

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5808,76,?,211574,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,<=50K
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9147,75,?,260543,10th,6,Widowed,?,Other-relative,Asian-Pac-Islander,Female,0,0,1,China,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
19337,72,?,76860,HS-grad,9,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,1,United-States,<=50K
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K
23536,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
24284,57,Self-emp-not-inc,56480,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
29752,69,?,117525,Assoc-acdm,12,Divorced,?,Unmarried,White,Female,0,0,1,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

In [96]:
minimum.shape

(20, 15)

In [97]:
print("Minimum hours of person per week is : "+str(min_hrs)+" hour and persons are 20" )

Minimum hours of person per week is : 1 hour and persons are 20

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [90]:
per_min=data.loc[(data['salary']=='>50K') & (data['hours-per-week']==1) ]
per_min.shape

(2, 15)

In [92]:
perce_min=2*100/32000
print("Percentage of the people who work the minimum number of hours per week have a salary of more than 50K is :" +str(perce_min))

Percentage of the people who work the minimum number of hours per week have a salary of more than 50K is :0.00625

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [99]:
data['native-country'].value_counts()

native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

### data['native-country'].unique()

In [112]:
fill_data=data[data['native-country'].isin(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'])]
high=fill_data[fill_data['salary']=='>50K']

In [117]:
high['native-country'].value_counts()

native-country
United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: count, dtype: int64

In [119]:
per=7171*100/32000

In [121]:
print("United States has the highest percentage of people that earn >50K and percenatage is :  "+str(per))

United States has the highest percentage of people that earn >50K and percenatage is :  22.409375

### Identify the most popular occupation for those who earn >50K in India.

In [122]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [124]:
data['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [125]:
fil_data=data[data['occupation'].isin(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'])]

In [126]:
pop=fil_data[fil_data['native-country']=='India']

In [128]:
pop['occupation'].value_counts()

occupation
Prof-specialty       40
Sales                14
Adm-clerical         11
Exec-managerial      10
Craft-repair          5
Tech-support          5
Other-service         4
Protective-serv       4
Handlers-cleaners     3
Transport-moving      2
Machine-op-inspct     2
Name: count, dtype: int64

In [131]:
popp=pop[pop['salary']=='>50K']

In [132]:
popp['occupation'].value_counts()

occupation
Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: count, dtype: int64

In [133]:
print("The most popular occupation for those who earn 50k in India is Prof-speciality ")

The most popular occupation for those who earn 50k in India is Prof-speciality